@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap');

body {
  background-color: #111;
  color:#DDD;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
h1 {
  margin-top:40px;
  color:#A311A6;
}
ul {
  list-style: none;
}
li a {
  text-decoration: none;
  margin-right: 32px;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.app-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.app-title-first-word {
  color: #A311A6;
}
.app-title-second-word {
  color:#3C0C8A;
}
.default-button {
  width: 100px;
  height: 40px;
  background-color: #3C0C8A;
  border-radius: 8px;
  border: none;
  color: #ddd;
}
.nav-bar-first-content ul li a {
  color:#DDD;
}
.nav-bar-second-content ul li a {
  color:#DDD
}
.nav-bar-login-text {
  color: #A311A6;
}
.nav-bar-register-text {
color: #7029E4;
}